%li
  = admin_link_to_dropdown("My Lodges", "icon-legal")
  %ul
    - current_user.lodges.order("name asc").each do |lodge|
      = admin_link_to(lodge.name.titleize, lodge_path(lodge.sub_domain), "icon-legal")
%li
  = admin_link_to_dropdown("My Profile", "icon-user")
  %ul
    = admin_link_to("Edit Profile", edit_user_path, "icon-user")
