%h1 Listing accounts_users

%table
  %tr
    %th
    %th
    %th

  - @accounts_users.each do |accounts_user|
    %tr
      %td= link_to 'Show', accounts_user
      %td= link_to 'Edit', edit_accounts_user_path(accounts_user)
      %td= link_to 'Destroy', accounts_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_accounts_user_path
