# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 02b5a7b4b3e183dbb8edd25f94d65507518be42d74f5bee9aec68096b3ada98ee74d504dde9f80c9460eed41a49db4e5beec759cfde2e83532ae4d11af0b2bf0

test:
  secret_key_base: 86ee2ebcbafb8a4586e5eca3b682f98f4ebf723859f4e2141f8d099144dd06568993e208d36643523e44eebd370dc1ba6152266e13ca03b4b333d4ffcd0bbe5f

production:
  secret_key_base: 9ae132e586dea4a81e52ff726718b65569b5f8a2f39bf60b2df8f9aa1e460d14c3ec6485d29154961b1ef804161a13af1b0872ad84f04283698cf1adca918712
